<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.startandroid.vkclient" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="ru.startandroid.vkclient.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission android:name="ru.startandroid.vkclient.permission.C2D_MESSAGE" android:protectionLevel="signature"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <activity android:name=".friends.FriendsActivity"/>
        <activity android:name=".MainActivity" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="GcmBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="ru.startandroid.vkclient"/>
            </intent-filter>
        </receiver>

        <service android:name="ru.startandroid.vkclient.LongPoolService">

        </service>


    </application>

</manifest>
